*
{
    padding: 0;
    margin: 0;
}

#sub-header
{
    background-color: #23cf5f;
    text-align: center;
    padding: 1rem;
    color: white;
    font-family:Nunito, sans-serif;
    font-size: 17px;
    line-height: 17px;
}

#main-header
{
    height:60px;
    line-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}
#links{
    flex-direction: row;
    display: flex;
}

#list
{
    flex-direction: row;
    display: flex;
    list-style-type: none;

}

#list li a{
    font-size: 18px;
    padding-left: 12px;

}
#sign_up_sign_in_btn {
    padding-left: 12px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right:30px;
    margin-left:15px;
}
.round-links{
    font-size:18px;
}
#active{
    margin-left:15px;
    border-radius: 2.8rem;
    background: #b7d68c;
    padding:15px;
}
#inactive{
    border-radius: 2.8rem;
    margin-left:15px;
    background: #b7d68c;
    padding:15px;
}

.banner
{
    display: flex;
    background-color: #d4edd8;
    justify-content: space-around;
    text-decoration: none;

}
a:link {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: #A9A9A9;
}
.msg
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg span
{
    font-family:Nunito, sans-serif;
    font-size: 75px;
    color: #2c3038;
    font-weight: 700;


}
.msg p
{
    text-align: center;
}

.img img
{
    width: 350px;
    height: 500px;
    padding: 20px 20px 0 0;
}
#type-msg
{animation:  typing 3.5s steps(40, end),blink-caret .75s step-end infinite;
}.banner
{
    display: flex;
    background-color: #d4edd8;
    justify-content: space-around;

}
.msg
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
}
.msg span
{
    font-family:Nunito, sans-serif;
    font-size: 4rem;
    line-height: 1.2;
    color: #2c3038;
    font-weight: 500;
}
.msg p
{
    text-align: center;
    font-size: 20px;
    color:#555a64;
    margin-top: 0.8rem;
    font-family:Nunito, sans-serif;
    line-height:1.2;
    font-weight: 400;
}

.img img
{
    width: 350px;
    height: 500px;
    padding: 20px 20px 0 0;
}
#type-msg
{
    animation:  typing 3.5s steps(40, end),blink-caret .75s step-end infinite;
}
.trust
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    width: 100%;
    justify-content: center;
    padding: 70px 150px 70px 150px;
    box-sizing: border-box;
}

.item
{
    text-align: center;
    padding: 2.4rem;
    box-sizing: border-box;
}
.item h4
{
    text-align: center;
    color:#2c3038;
    font-size: 1.2rem;
    line-height: 1.3;
    font-family:Nunito, sans-serif;
}
.item p 
{
    color: #555a64;
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 0.4rem;
    box-sizing: border-box;
    text-align: center;
    font-family:Nunito, sans-serif;
}
.item img
{
    width: 60px;
    height: 60px;
}

.suitable
{
    background-color:#f8f9fd;
    text-align: center;
    padding: 50px 0 50px 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.suitable h2
{
    font-size: 1.8rem;
    font-family:Nunito, sans-serif;
    font-weight: 600;
    line-height: 1.3;
    color:#2c3038;
}
.suitable p 
{
    width: 50%;
    font-size: 1rem;
    color: #555a64;
    line-height: 1.4;
    margin: 1rem auto;
    font-family:Nunito, sans-serif;
}
.suitable .btn
{
    margin-top: 50px;
    font-family:Nunito, sans-serif;
    
}
.suitable .btn button
{
    background-color:  #23cf5f;
    color: white;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    border:none;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.answer
{
    display: flex;
    justify-content: center;
    background-color:white;
    width: 50%;
    margin: 2rem auto;
}

.img-why img
{
    width: 350px;
    height: 500px;
}

/* Footer */
.footer{
    background-color: #303036;
    color: #d3d3d3;
    height:400px;
    position: relative;
}

.footer .footer-content{
    display: flex;
    height: 350px;
}
.footer .footer-content h1,
.footer .footer-content h2{
    color: white;
}

.footer .footer-content .about{
    padding:15px;
}
.footer .footer-content .about h1 span{
    color: #05f7ff;
}

.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.footer .footer-content .about .social a{
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;

}
#social{
    list-style-type: none;
    padding:2px;
    flex-direction: row;
    display: flex;

}

.footer .footer-content .footer-section{
    padding:30px;
}

#list-links a li{
    margin-top: 5px;
    display: block;
    font-size:1.2em;
    transition: all 0.3s;
    font-family: Nunito, sans-serif;
    color:rgb(235, 247, 252);
}

#list-links a li:hover{
    color:white;
    margin-left: 10px;
    transition: all 0.3s;
}

.footer .footer-content .contact-form form{
    display:flex;
    flex-direction: column;
    border-radius: 2.8rem;
}

.footer .footer-content .contact-form .contact-input{
   background: #272727;
   color: white;
   margin-bottom: 10px;
   line-height:1.5rem;
   padding:.9rem 1.4rem;
   border-radius: 15px;
   border: none;
}

.footer .footer-content .contact-form .contact-input:focus{
    background:#1a1a1a
}

.footer .footer-content .contact-form form button{
    padding:.5rem 1rem;
    background:#006669;
    color: white;
    border:1px solid transparent;
    border-radius: .25rem;
}
.btn-big{
    padding:.7rem 1.3rem;
    line-height:1.3rem;
}
.footer .footer-content .contact-form form button:hover{
    color: white !important;
    background:#005255;
}

.footer .footer-content .footer-section{
    flex: 1;
}

.footer .footer-bottom{
    background:#343a40;
    color: #686868;
    height: 28px;
    width: 100%;
    text-align: center;
    position:absolute;
    bottom:0px;
    left: 0px;
    padding-top:20px

}